<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>UsersManager</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>com.jiudianlianxian.view.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>LoginClServlet</servlet-name>
    <servlet-class>com.jiudianlianxian.controller.LoginClServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginClServlet</servlet-name>
    <url-pattern>/LoginClServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>MainFrameServlet</servlet-name>
    <servlet-class>com.jiudianlianxian.view.MainFrameServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MainFrameServlet</servlet-name>
    <url-pattern>/MainFrameServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GenericServlet</display-name>
    <servlet-name>GenericServlet</servlet-name>
    <servlet-class>javax.servlet.GenericServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GenericServlet</servlet-name>
    <url-pattern>/GenericServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Error</servlet-name>
    <servlet-class>com.jiudianlianxian.view.Error</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Error</servlet-name>
    <url-pattern>/Error</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Ok</servlet-name>
    <servlet-class>com.jiudianlianxian.view.Ok</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Ok</servlet-name>
    <url-pattern>/Ok</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>MyInfoForm</servlet-name>
    <servlet-class>com.jiudianlianxian.example.MyInfoForm</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MyInfoForm</servlet-name>
    <url-pattern>/MyInfoForm</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>RegisterCLServlet</servlet-name>
    <servlet-class>com.jiudianlianxian.example.RegisterCLServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegisterCLServlet</servlet-name>
    <url-pattern>/RegisterCLServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ManageUsers</servlet-name>
    <servlet-class>com.jiudianlianxian.view.ManageUsers</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ManageUsers</servlet-name>
    <url-pattern>/ManageUsers</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UpdateUserView</servlet-name>
    <servlet-class>com.jiudianlianxian.view.UpdateUserView</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateUserView</servlet-name>
    <url-pattern>/UpdateUserView</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UserClServlet</servlet-name>
    <servlet-class>com.jiudianlianxian.controller.UserClServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserClServlet</servlet-name>
    <url-pattern>/UserClServlet</url-pattern>
  </servlet-mapping>
</web-app>